:root{
    --color-borders: #e3e6e9;
}
.layout__menu {
    background-image: none;
    text-align: center;
    height: 25rem;
    color: var(--color-secondary);
    background-color: var(--color-principal);
}
.nav__title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 500;
}
.layout__main-contact{
    width: 100%;
    color: var(--color-principal);
}
.contact__container{
    width: 55%;
    padding: 12rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.contact__title{
    font-size: 2.7rem;
    text-transform: uppercase;
}
.contact__description{
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 6rem;
}
.contact__form-contaiener{
    display: flex;
    gap: 6rem;
}
.form__direccion,
.from__phone,
.form__email{
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}
.form__label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}
.form__input,
.form__textarea{
    border: 1px solid var(--color-borders);
    padding: 1rem 4rem;
    z-index: 1;
}
.form__textarea{
    padding: 0 1rem;
    resize: none;
}
.contact__form{
    position: relative;
}
.form__btn{
    position: absolute;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-top: 3rem;
    color: var(--color-secondary);
    background-color: var(--color-detalles);
    right: 0;
    transition: all 300ms ease;
}

.form__btn:hover{
    background-color: var(--color-principal);
}

/* Inicio de Media Querry */
@media (max-width:1023px){
    .nav__title{
        font-size: 3.5rem;
    }
    .contact__form-contaiener {
        flex-direction: column;
    }
}

@media (max-width: 375px){
    .contact__title{
        font-size: 2rem;
    }
    .contact__description{
        font-size: 1.5rem;
    }
    .form__direccion,
    .from__phone,
    .form__email{
        font-size: 1.4rem;
        text-align: center;
    }

}
@media (max-width: 285px){
    .form__input{    
        padding: 1rem;
    }   

    .form__textarea{
        width: 90%;
        padding: none;
    }
}